<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morte.bennyapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BennyEyes"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ClownEyes"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PirateEyes"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".Settings" />
        <activity android:name=".LoggingData" />
        <activity
            android:name=".SizeOfEyes"
            android:screenOrientation="landscape" />
        <activity android:name=".LevelOfDifficulty" />
        <activity android:name=".OldDesign" />
        <activity
            android:name=".BennyMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopUpActivity"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".MicNotPluggedIn"
            android:screenOrientation="landscape" />
        <activity android:name=".IntroLegacy" />
        <activity
            android:name=".Linestest"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".Oldintro" />
        <activity android:name=".Introduction" />
        <activity android:name=".ChangeMicSensitivity"></activity>
    </application>

</manifest>